<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
			<property name="username" value="scott"/>
			<property name="password" value="tiger"/>
	</bean>
	<bean id="empDAO" class="com.nt.dao.EmployeeDAOImpl">
		<constructor-arg ref="ds"/>
	</bean>
	<bean id="empService" class="com.nt.service.EmployeeMgmtServiceImpl">
		<constructor-arg ref="empDAO"/>
	</bean>
	<bean id="controller" class="com.nt.controller.MainController">
		<constructor-arg ref="empService"/>
	</bean>
</beans>
